@charset "utf-8";

body {
  font-family: $font-family-basic;
  font-size: $base_fs;
}

a {
  color: $base-color;
}

#wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row-reverse;
  background: #f0f0f0;
  line-height: 1.5;
}

#main {
  position: relative;
  width: calc(100% - 180px);
}

#container {
  padding: 30px 30px 120px;
}
