@charset "utf-8";

//ベース色
$base-color: #043491;

$sub-color: #eef4f6;

//リンクのカラー
// $color_lnk: #043491;

//base font-size
$base_fs: 13px;
$imgPath: "/images/";
$font-family-basic: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro W3",
  "Hiragino Kaku Gothic Pro", "ヒラギノ丸ゴ ProN W4",
  "Hiragino Maru Gothic ProN", "ヒラギノ丸ゴ Pro W4", "Hiragino Maru Gothic Pro",
  "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
