<% var title = 'School System'; %>
<% var description = ''; %>
<% include ../modules/_header %>
    <!-- content -->
    <div id="wrapper">
        <main id="main">
            <% include ../modules/_search %>
            <div id="container">
                <% include ../modules/_favarite %>
                <!-- ここからコンテンツ -->

                <!-- ここまでコンテンツ -->
            </div>
            <% include ../modules/_footer %>
        </main>
        <% include ../modules/_nav %>
    </div>
    <!-- /content -->
</body>
</html>