/* ==================================================

footer

================================================== */
#footer {
  .copyright {
    border-top: 1px solid #ddd;
    padding: 15px 30px;
    &__txt {
      font-size: 12px;
    }
  }
}
