/* ==================================================

gnav

================================================== */

.gnav {
  width: 180px;
  &__inner {
    padding: 15px 0 0;
    background: $base-color;
    height: 100%;
  }
  &__link {
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    padding: 15px;
    display: block;
    text-decoration: none;
    background: $base-color;
    display: flex;
    align-items: center;
    .fas {
      min-width: 18px;
    }
    span {
      margin-left: 8px;
    }
    &:hover {
      color: $base-color;
      background: #f0f0f0;
    }
  }
}
