            <div class="favaritemenu">
                <h2 class="favaritemenu__tit">お気に入りメニュー</h2>
                <ul class="favaritemenu__nav">
                    <li>
                        <a href="">コンタクト履歴</a>
                    </li>
                    <li>
                        <a href="">欠席連絡登録</a>
                    </li>
                    <li>
                        <a href="">顧客情報登録</a>
                    </li>
                </ul>
            </div>