        <nav class="gnav">
            <ul class="gnav__inner">
                <li class="gnav__list">
                    <a href="" class="gnav__link">
                        <i class="fas fa-home"></i>
                        <span>ホーム</span>
                    </a>
                </li>
                <li class="gnav__list">
                    <a href="" class="gnav__link">
                        <i class="fas fa-home"></i>
                        <span>顧客管理</span>
                    </a>
                </li>
                <li class="gnav__list">
                    <a href="" class="gnav__link">
                        <i class="fas fa-home"></i>
                        <span>契約管理</span>
                    </a>
                </li>
                <li class="gnav__list">
                    <a href="" class="gnav__link">
                        <i class="fas fa-address-book"></i>
                        <span>指導管理</span>
                    </a>
                </li>
                <li class="gnav__list">
                    <a href="" class="gnav__link">
                        <i class="fas fa-yen-sign"></i>
                        <span>入金管理</span>
                    </a>
                </li>
                <li class="gnav__list">
                    <a href="" class="gnav__link">
                        <i class="far fa-newspaper"></i>
                        <span>本部機能</span>
                    </a>
                </li>
                <li class="gnav__list">
                    <a href="" class="gnav__link">
                        <i class="fas fa-cog"></i>
                        <span>個人設定</span>
                    </a>
                </li>
            </ul>
        </nav>