<aside id="search">
    <div class="searchbox">
        <h2 class="searchbox__tit">顧客番号検索</h2>
        <form action="" class="searchbox__frm">
            <input type="text" placeholder="顧客番号">
            <button type="submit" class="searchbox__submit"><i class="fas fa-search"></i></button>
        </form>
    </div>
    <div class="infobox">
        <dl class="infobox__dl">
            <dt>名前</dt>
            <dd>三浦　雄一郎</dd>
        </dl>
        <dl class="infobox__dl">
            <dt>学年</dt>
            <dd>小4</dd>
        </dl>
        <dl class="infobox__dl">
            <dt>コース</dt>
            <dd>受験コース</dd>
        </dl>
        <dl class="infobox__dl">
            <dt>TEL</dt>
            <dd>03-1234-5679</dd>
        </dl>
    </div>
</aside>